[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pylint = "*"
autopep8 = "*"
inject = "*"
apscheduler = "*"
motor = "*"
pymongo = "*"
redis = "*"
dataclasses-json = "*"
aredis = "*"

[dev-packages]
